@media(max-width:1140px){
    
    .list__icons{
        gap: 32px;
       
    }
    .nav__link{
        margin-left: -8px;
    }
    .card__box{
        width: 525px;
    }
    .cards__box{
        width: 325px;
    } 
    .cards__box::after, .cards__box:nth-child(2)::after, .cards__box:nth-child(3)::after, .cards__box:nth-child(4)::after, .cards__box:nth-child(7)::after, .cards__box:nth-child(8)::after, .cards__box:nth-child(9)::after, .cards__box:nth-child(11)::after{
        padding: 11px 25px;
    }
    .card__icon{
        padding: 10px 15px;
    }
    .main__box{
        width: 540px;
    }
    .img{
        width: 100%;
        height: 100%;
    }
    .grid{
        grid-template-columns: 1fr  2fr;
    }
}
@media(max-width:1020px){
    .list__icons{
        gap: 24px;
       
    }
    .nav__link{
        margin-left: -25px;
    }
    .card__box{
        width: 535px;
    }
    .box{
        width: 430px;
    }
    .cards__box{
        width: 310px;
    }
    .main__box{
        width: 485px;
        height: 420px;
    }
}
@media(max-width:955px){
    .footer__container{
        gap: 40px;
        font-size: 10px;
    }
    .nav__link{
        margin: 10px;
    }
    .nav__link-t{
        font-size: 28px;
    }
    .list__icons{
        gap: 15px;
    }
    .header__box{
        gap: 18px;
    }
}
@media(max-width:882px){
    .nav__link{
        margin-left: -15px;
        margin-right: 30px;
    }
    .list__icons{
        gap: 10px;
    }
    .nav__link-t{
        font-size: 20px;
    }
    .card__box{
        width: 470px;
    }
    .box{
        width: 360px;
    }
    .box__item{
        display: flex;
        flex-direction: column;
        
    }
    .box__content{
        gap: 8px;
        margin-top: 10px;
       
    }
    .cards__box{
        width: 260px;
    }
    .cards__box::after, .cards__box:nth-child(2)::after, .cards__box:nth-child(3)::after, .cards__box:nth-child(4)::after, .cards__box:nth-child(7)::after, .cards__box:nth-child(8)::after, .cards__box:nth-child(9)::after, .cards__box:nth-child(11)::after{
        padding: 7px 15px;
    }
    .card__icons{
        row-gap: 12px;
    }
    .card__icon{
        padding: 5px 14px;
    }
    .main__box {
        width: 415px;
        height: 410px;
    }
    .main__text{
        margin-top: 20px;
    }
    .main__info{
        padding-top: 25px;
    }
    .info-text{
        padding-top: 130px;
    }
 
}
@media(max-width:575px){
    .nav__list{
         position: fixed;
         bottom: 0;
         top: 0;
         left: 0;
         width: 250px;
         backdrop-filter: blur(10px);
         box-shadow: 3px 3px 10px #323232;
         flex-direction: column;
         align-items: flex-start;
         padding: 50px;
         row-gap: 15px;
         transition: 0.3s;
         transform: translateX(-105%);
         z-index: 999;
      
    }
    .nav__link{
         font-size: 18px;
         padding: 0;
    }
    .menu-btn{
         display: flex;
    }
    .header__box{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        border-top: 3px solid;
      
    }
    .box{
        width: 545px;
        height: 294px;
    }
    .card__box{
        width: 545px;
        height: 294px;
    }
    .card{
        grid-template-columns: repeat(2, 1fr);
        
    }
    .cards__box{
        width: 245px;
        height: 341px;
    }
    .cards__content{
        gap: 5px;
    }
    .card__icons{
        padding: 10px;
        row-gap: 10px;
    }
    .card__icon{
        padding: 10px;
    }
    .cards__box::after, .cards__box:nth-child(2)::after, .cards__box:nth-child(3)::after, .cards__box:nth-child(4)::after, .cards__box:nth-child(7)::after, .cards__box:nth-child(8)::after,  .cards__box:nth-child(9)::after, .cards__box:nth-child(11)::after {
        padding: 10px;
        left: 10px;
    }
    .footer__container{
        gap: 30px;
        padding-top: 60px;
    }
    .footer{
        padding-bottom: 60px;
    }
    .grid{
        grid-template-columns: 1fr ;
    }
    .main__box{
        width: 540px;
    }
  .box__img{
    width: 140px;
  }
  .cards__img{
    width: 140px;
  }

}
@media(max-width:545px){
    .footer__container{
        gap: 25px;
    }
    .footer__link{
        font-size: 14px;
    }
    .footer_info-one{
        font-size: 18px;
    }
    .footer__info{
        font-size: 25px;
    }
}
@media(max-width:425px) {
    .card__box {
        width: 390px;
    }

    .cards__box {
        width: 390px;
    }

    .card {
        grid-template-columns: repeat(1, 1fr);
    }

    .box {
        width: 390px;
    }

    .main__box {
        width: 390px;
        height: 415px;
    }

    .footer_info-one {
        font-size: 14px;
    }

    .footer_info {
        font-size: 20px;
    }

    .footer__container {
        gap: 15px;
    }
    .footer__container{
        align-items: none;
    }

}
@media(max-width:320px){
    .card__box,
    .box{
        width: 285px;
    }
    
    .card__box::after,
    .box:nth-child(3)::after,
    .box::after{
        left: 10px;
        top: 10px;
       font-size: 14px;
       line-height: 14px;
            padding: 7px 17px
    }
    
    .box__img {
        width: 129px;
    }
    .nav__content {
        padding-top: 46px;
        padding-bottom: 10px;
    }
    .menu-btn {
        gap: 16px;
        padding-left: 0;
        
    }
    .nav__link-t {
        font-size: 15px;
        padding-left: 5px;
    }
    .list__icons {
        gap: 4px;
        height: 7px;
    }
    .cards__box{
     max-width: 285px;
    
    }
    .text__title {
        font-size: 21px;
        line-height: 30px;
        margin-top: 14px;
    }
    .cards__box::after,
    .cards__box:nth-child(2)::after,
    .cards__box:nth-child(3)::after,
    .cards__box:nth-child(4)::after,
    .cards__box:nth-child(5)::after,
    .cards__box:nth-child(6)::after,
    .cards__box:nth-child(7)::after,
    .cards__box:nth-child(8)::after,
    .cards__box:nth-child(9)::after,
    .cards__box:nth-child(10)::after,
    .cards__box:nth-child(11)::after{
            font-size: 15px;
            line-height: 17px;
    }
    .card{
        gap: none;
    }
    .card__icon {
        padding: 5px;
    }
    .cards__link {
        font-size: 26px;
        line-height: 38px;
        color: #323232;
        margin-top: 21px;
    }
    .text {
        font-size: 21px;
        line-height: 27px;
        margin-top: 27px;
        padding-bottom: 19px;
    }
    .img{

   width: 290px;
object-fit: cover;
height: 370px;
border-radius: 12px;
    }
    .main__content::after {
        
        font-size: 10px;
        line-height: 14px;
        width: 90px;
        height: 30px;
        left: 10px;
        top: 13px;
        border-radius: 13px;
       
}
.main__box{
    max-width: 290px;
    height: 370px;
    
}
.main__text {
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
  
}
.main__info {
    font-size: 13px;
    line-height: 22px}


.main__content {
    padding: 0 10px;
    height: 290px;
}
.info-text{
 padding-top: 86px;
 left: 10px;
 }

.footer__container{
    max-width: 290px;
     gap: 10px;
}
.footer__list{
    padding-top: 15px;
}
.footer_info-one {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 2px;
}
.footer_info{
    font-size: 22px;
}
.footer__link{
    font-size: 17px;
    line-height: 22px;
   
}
.footer__container{
    display: flex;
    flex-direction: column;
}
}
